{
  "openapi": "3.0.1",
  "info": {
    "title": "Brandblast API",
    "description": "A user management API for white labels",
    "version": "1.0.0",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
    "servers": [
    {
      "url": "https://dashboard.brandblast.ai/api"
    }
  ],
  "tags": [
    {
      "name": "User Management",
      "description": "APIs for managing users"
    }
  ],
  "paths": {
    "/v1/createUser": {
      "post": {
        "tags": ["User Management"],
        "operationId": "createUser",
        "summary": "Create a new user",
        "description": "Creates a new user and associated profile in the Supabase database",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_email", "user_password"],
                "properties": {
                  "user_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the new user"
                  },
                  "user_password": {
                    "type": "string",
                    "description": "Password for the new user account"
                  },
                  "should_reset_password": {
                    "type": "string",
                    "enum": ["true", "false"],
                    "description": "Flag to indicate if the user should reset their password"
                  },
                  "api_key": {
                    "type": "string",
                    "description": "API key for authentication. Please set this in the X-API-Key header instead.",
                    "deprecated": true
                  }
                }
              },
              "example": {
                "api_key": "your_api_key_here",
                "user_email": "newuser@example.com",
                "user_password": "securePassword123",
                "should_reset_password": "false"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_email": {
                      "type": "string"
                    },
                    "user_password": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "user_email": "newuser@example.com",
                  "user_password": "securePassword123"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "user_email is missing"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Unauthorized: Invalid or unauthorized API key."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - no white label user found for API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "No white label user found for api key"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Failed to create user"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}